
#main {
	padding:50px;
	background: url(bg.jpg);
	background-size: cover;
	background-attachment: fixed;
}


/*Animated title image*/
#title {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
}

.superMario {
	-webkit-animation-duration: 2s;
}


/*Page text and formatting properties*/
.subtitle {
	font-family: 'Press Start 2P', cursive;
	font-size: 1.8em;
	text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	color: white;
	margin-top: 50px;
	text-align: center;
}

.text-main {
	padding: 10px;
	font-size: 20px;
	background-color: #0Bef74;
}


.border-rounded {
	border-style: solid;
	border color: #aaaaaa;
	border-radius: 25px;
	box-shadow: 5px 10px black;
	margin-top: 50px;
}


/*Gif Properties*/
#img-div {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    margin-top: 50px;
}

#img-caption {
	font-size: .7em;
	text-align: center;
}


.games {
	background-color: pink;
}

.card {
	margin: 0 auto;
	border-style: solid;
	border-color: black;
	width: 50%;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

#tribute-info {
	background-color: #97E0FB;
	padding: 20px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 50px;;
}

	.text-body-title {
		padding-top: 15px;
		font-size: 30px;
	}


/*-------------------------------------QUERIES----------------------------------------------*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#main {
		padding: 5px;
	}
	#title {
		width: 85%;
	}
	.subtitle {
		font-size: 1.2em;
		margin-top: 10px;
	}

	.text-body-title {
		padding-top: 25px;
		font-size: 20px;
		text-align: center;
		margin-bottom: 5px;
	}

	.text-body {
		text-align: center;
		padding-top: 10px;
		font-size: 15px;
	}

	#img-div {
		width: 75%;
	}

	.card {
		width: 75%;

	}

	#tribute-info {
		width: 100%;
		padding: 10px;
	}

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	#main {
		padding: 15px;
	}
	#title {
		width: 85%;
	}
	.subtitle {
		font-size: 1.5em;
	}

	.text-body-title {
		padding-top: 25px;
		font-size: 25px;
		text-align: center;
		margin-bottom: 5px;
	}


	.text-body {
		text-align: center;
		padding-top: 15px;
		font-size: 15px;
	}

	#img-div {
		width: 75%;
	}

	.card {
		width: 75%;

	}

	#tribute-info {
		width: 100%;
		padding: 10px;
	}

